Courts.NET.PL/Web References/WSPrinting/WPrinting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://strategicthought.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://strategicthought.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://strategicthought.com/webservices/">
      <s:element name="GetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Culture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgreeementPrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:PrintingAgreementRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintingAgreementRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAgreeementPrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgreeementPrintResult" type="tns:PrintingAgreementResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintingAgreementResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="itemsPerPage" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lineitems">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="noCopies" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="JointName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="custCopies" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="relationship" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JointID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AgrTimePrint" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="agreement">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="localformat" type="tns:NumberFormatInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="percenttopay" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IncInsinServAgrPrint" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="insIncluded" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="chargeablePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="chargeableAdminPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="insPcent" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="months" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentHolidaysMax" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentHolidaysMin" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Print90" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="TermsDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgreementText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentHolidays" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ServicePCent" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NumberFormatInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyDecimalDigits" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyDecimalSeparator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyGroupSizes" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberGroupSizes" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentGroupSizes" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyGroupSeparator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencySymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NaNSymbol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyNegativePattern" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberNegativePattern" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentPositivePattern" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentNegativePattern" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NegativeInfinitySymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NegativeSign" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberDecimalDigits" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberDecimalSeparator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberGroupSeparator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyPositivePattern" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PositiveInfinitySymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositiveSign" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentDecimalDigits" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentDecimalSeparator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentGroupSeparator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentSymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerMilleSymbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NativeDigits" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="DigitSubstitution" type="tns:DigitShapes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DigitShapes">
        <s:restriction base="s:string">
          <s:enumeration value="Context" />
          <s:enumeration value="None" />
          <s:enumeration value="NativeNational" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDNPrintInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ArrayOfDNparameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDNparameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DNparameters" type="tns:DNparameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DNparameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userSale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="printText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="buffLocn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="delnotenum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dateReqDel" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="delAddressType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="timeReqDel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDNPrintInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDNPrintInfoResult" type="tns:ArrayOfPrintingDN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrintingDN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrintingDN" nillable="true" type="tns:PrintingDN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrintingDN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="printedby" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amountPayable" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="charges" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="cod" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="printText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customername" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="delnotenum" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="locn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="buffno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="origbuffbranchno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDNPrintScheduleItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loadNo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="branchNo" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="dateDel" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDNPrintScheduleItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDNPrintScheduleItemsResult" type="tns:ArrayOfPrintingDN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDecimalPlaces">
        <s:complexType />
      </s:element>
      <s:element name="GetDecimalPlacesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDecimalPlacesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HostName">
        <s:complexType />
      </s:element>
      <s:element name="HostNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HostNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetASPrintInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="empeeno" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetASPrintInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetASPrintInfoResult" type="tns:PrintingAction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintingAction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActionSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="paymentAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Arrears" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="bailiffFee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="collectionFee" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Acctno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Currstatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateLastPaid" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeadLineDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="instAmount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Outstbal" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="privilegeCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="segmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SignatureFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetAgreeementPrintSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgreeementPrint" />
  </wsdl:message>
  <wsdl:message name="GetAgreeementPrintSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgreeementPrintResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgreeementPrintAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDNPrintInfo" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDNPrintInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintScheduleItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDNPrintScheduleItems" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintScheduleItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDNPrintScheduleItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDNPrintScheduleItemsAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetDecimalPlacesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDecimalPlaces" />
  </wsdl:message>
  <wsdl:message name="GetDecimalPlacesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDecimalPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDecimalPlacesAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="HostNameSoapIn">
    <wsdl:part name="parameters" element="tns:HostName" />
  </wsdl:message>
  <wsdl:message name="HostNameSoapOut">
    <wsdl:part name="parameters" element="tns:HostNameResponse" />
  </wsdl:message>
  <wsdl:message name="HostNameAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetASPrintInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetASPrintInfo" />
  </wsdl:message>
  <wsdl:message name="GetASPrintInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetASPrintInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetASPrintInfoAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:portType name="WPrintingSoap">
    <wsdl:operation name="GetFileInfo">
      <wsdl:input message="tns:GetFileInfoSoapIn" />
      <wsdl:output message="tns:GetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgreeementPrint">
      <wsdl:input message="tns:GetAgreeementPrintSoapIn" />
      <wsdl:output message="tns:GetAgreeementPrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintInfo">
      <wsdl:input message="tns:GetDNPrintInfoSoapIn" />
      <wsdl:output message="tns:GetDNPrintInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintScheduleItems">
      <wsdl:input message="tns:GetDNPrintScheduleItemsSoapIn" />
      <wsdl:output message="tns:GetDNPrintScheduleItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDecimalPlaces">
      <wsdl:input message="tns:GetDecimalPlacesSoapIn" />
      <wsdl:output message="tns:GetDecimalPlacesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HostName">
      <wsdl:input message="tns:HostNameSoapIn" />
      <wsdl:output message="tns:HostNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetASPrintInfo">
      <wsdl:input message="tns:GetASPrintInfoSoapIn" />
      <wsdl:output message="tns:GetASPrintInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WPrintingSoap" type="tns:WPrintingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFileInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://strategicthought.com/webservices/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DownloadFileAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgreeementPrint">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetAgreeementPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAgreeementPrintAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintInfo">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetDNPrintInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDNPrintInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintScheduleItems">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetDNPrintScheduleItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDNPrintScheduleItemsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecimalPlaces">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetDecimalPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDecimalPlacesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostName">
      <soap:operation soapAction="http://strategicthought.com/webservices/HostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HostNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetASPrintInfo">
      <soap:operation soapAction="http://strategicthought.com/webservices/GetASPrintInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetASPrintInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WPrintingSoap12" type="tns:WPrintingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileInfo">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFileInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://strategicthought.com/webservices/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DownloadFileAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgreeementPrint">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetAgreeementPrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAgreeementPrintAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintInfo">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetDNPrintInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDNPrintInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDNPrintScheduleItems">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetDNPrintScheduleItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDNPrintScheduleItemsAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDecimalPlaces">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetDecimalPlaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDecimalPlacesAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostName">
      <soap12:operation soapAction="http://strategicthought.com/webservices/HostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HostNameAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetASPrintInfo">
      <soap12:operation soapAction="http://strategicthought.com/webservices/GetASPrintInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetASPrintInfoAuthentication" part="Authentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WPrinting">
    <wsdl:port name="WPrintingSoap" binding="tns:WPrintingSoap">
      <soap:address location="http://localhost/Courts.NET.WS/WPrinting.asmx" />
    </wsdl:port>
    <wsdl:port name="WPrintingSoap12" binding="tns:WPrintingSoap12">
      <soap12:address location="http://localhost/Courts.NET.WS/WPrinting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>