Courts.NET.WS/Schemas/historicalresp.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Historical report Response Version 0.3 Draft  -->
	<!-- Disclaimer: subject to change by Baycorp Advantage at any time  -->
	<!-- Confidential - May Not be Disclosed to Outside Parties Without the Express Permission of Baycorp Advantage -->
	<!-- Revision History                                                -->
	<!-- Date       Version  By            Description                                     -->
	<!-- 27/8/2003  0.2      Rachel Welsh  Comments, code descriptions are being supplied  -->
	<!-- 27/8/2003  0.3      Rachel Welsh  Add INQUIRY_DATE, add SPOUSE_NAME               -->
	<!--                                   IPT_LINE_NUMBER not IPT_LIN                     -->
	<xs:element name="RESPONSE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SERVICE">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STATUS" type="xs:string" />
				<xs:choice>
					<xs:group ref="ERROR" />
					<xs:group ref="OK" />
					<xs:group ref="PARSE" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- If Error  -->
	<xs:group name="ERROR">
		<xs:sequence>
			<xs:element name='ERRORS'>
				<xs:complexType>
					<xs:sequence>
						<!-- Error  -->
						<xs:element name="ERROR" maxOccurs="unbounded" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- If Parser Error  -->
	<xs:group name="PARSE">
		<xs:sequence>
			<!-- Error -->
			<xs:element name="PARSER_ERROR" type="xs:string" />
		</xs:sequence>
	</xs:group>
	<!-- If OK  -->
	<xs:group name="OK">
		<xs:sequence>
			<xs:element name='DATA'>
				<xs:complexType>
					<xs:sequence>
						<!-- Standard Consumer Enquiry Report layout - same as Consumer Enquiry schema     -->
						<xs:element name='CONSUMER_REPORT'>
							<xs:complexType>
								<xs:sequence>
									<!-- Enquiry Number  -->
									<xs:element name="INQUIRY_NUMBER">
										<xs:simpleType>
											<xs:restriction base="xs:positiveInteger">
												<xs:totalDigits value="11" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<!--  Enquiry Date -->
									<xs:element name="INQUIRY_DATE" type="xs:string" />
									<xs:element name='CONSUMER'>
										<xs:complexType>
											<xs:sequence>
												<!-- Consumer Number -->
												<xs:element name="CHILD_NO">
													<xs:simpleType>
														<xs:restriction base="xs:positiveInteger">
															<xs:maxInclusive value="6" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name='CONSUMER_ENQ'>
													<xs:complexType>
														<xs:sequence>
															<!-- Enquiry Type description -->
															<xs:element name="ENQ_TYPE" type="xs:string" />
															<!-- Product Type description -->
															<xs:element name="PRD_TYPE" type="xs:string" />
															<!-- Amount -->
															<xs:element name="AMOUNT" type="xs:decimal" />
															<!-- Client Reference -->
															<xs:element name="CLNT_REF" type="xs:string" />
															<!-- Guarantor -->
															<xs:element name="GUARANTOR" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name='CONSUMER_IDS'>
													<xs:complexType>
														<xs:sequence>
															<xs:element name='CONSUMER_ID' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!-- ID Type description -->
																		<xs:element name="ID_TYPE" type="xs:string" />
																		<!-- ID Type -->
																		<xs:element name="ID_CODE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<!--  Family Name -->
												<xs:element name="FAMILY_NAME" type="xs:string" />
												<!--  Given Name -->
												<xs:element name="GIVEN_NAME" type="xs:string" />
												<!--  Dialect Name -->
												<xs:element name="DIALECT_NAME" type="xs:string" />
												<!--  Maiden Name -->
												<xs:element name="MAIDEN_NAME" type="xs:string" />
												<!--  Gender description -->
												<xs:element name="GENDER" type="xs:string" />
												<!--  Date of Birth -->
												<xs:element name="DATE_OF_BIRTH" type="xs:string" />
												<!--  Marital Status description -->
												<xs:element name="MARITAL_STATUS" type="xs:string" />
												<!--  Nationality description -->
												<xs:element name="NATIONALITY" type="xs:string" />
												<!--  Ethnic Group description -->
												<xs:element name="ETHNIC_GROUP" type="xs:string" />
												<!--  Spouse name -->
												<xs:element name="SPOUSE_NAME" type="xs:string" />
												<xs:element name='ADDRESSES' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='ADDRESS' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Formatted Address String -->
																		<xs:element name="ADR_ADDRESS" type="xs:string" />
																		<!--  Address Date Loaded -->
																		<xs:element name="ADR_LOAD_DATE" type="xs:string" />
																		<!--  Address Type description -->
																		<xs:element name="ADR_TYPE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name='OCCUPATIONS' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='OCCUPATION' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Occupation -->
																		<xs:element name="OCC_OCCUPATION" type="xs:string" />
																		<!--  Employer -->
																		<xs:element name="OCC_EMPLOYER" type="xs:string" />
																		<!--  Occupation Load Date -->
																		<xs:element name="OCC_LOAD_DATE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name='ADDITIONAL_NAMES' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='ADDITIONAL_NAME' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Name -->
																		<xs:element name="INN_NAME" type="xs:string" />
																		<!--  Name Load Date -->
																		<xs:element name="INN_LOAD_DATE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<!--  Contact numbers -->
												<xs:element name='CNT_NUMBERS' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='CNT_NUMBER' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Contact Type description -->
																		<xs:element name="CNT_TYPE" type="xs:string" />
																		<!--  Formatted Phone Number -->
																		<xs:element name="CNT_PHONE" type="xs:string" />
																		<!--  Contact Load Date -->
																		<xs:element name="CNT_LOAD_DATE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<!--  Previous Enquiries section -->
												<xs:element name='PREVIOUS_INQUIRIES' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='PREVIOUS_INQUIRY' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Enquirer's Name -->
																		<xs:element name="IPI_NAME" type="xs:string" />
																		<!--  Product Type description -->
																		<xs:element name="IPI_PRODUCT_TYPE" type="xs:string" />
																		<!--  Amount -->
																		<xs:element name="IPI_AMOUNT" type="xs:decimal" />
																		<!--  Guarantor -->
																		<xs:element name="GUARANTOR" type="xs:string" />
																		<!--  Enquiry load Date -->
																		<xs:element name="IPI_LOAD_DATE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name='PAYMENT_DEFAULTS' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='PAYMENT_DEFAULT' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Default Name -->
																		<xs:element name="IPD_NAME" type="xs:string" />
																		<!--  Default Amount -->
																		<xs:element name="IPD_AMOUNT" type="xs:decimal" />
																		<!--  Default Balance -->
																		<xs:element name="IPD_BALANCE" type="xs:decimal" />
																		<!--  Default Status description -->
																		<xs:element name="IPD_STATUS" type="xs:string" />
																		<!--  Default Status date -->
																		<xs:element name="IPD_STATUS_DATE" type="xs:string" />
																		<!--  Default load Date -->
																		<xs:element name="IPD_LOAD_DATE" type="xs:string" />
																		<!--  Default Product description -->
																		<xs:element name="IPD_PRODUCT_TYPE" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:choice minOccurs="0">
													<xs:group ref="DEBTSTRM_DETAIL" />
													<xs:group ref="DEBTSTRM_MSG" />
												</xs:choice>
												<xs:element name='PUBLIC_NOTICES' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='PUBLIC_NOTICE' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!-- Public Notice Type description -->
																		<xs:element name="IPN_TYPE" type="xs:string" />
																		<!--  Notice Load Date -->
																		<xs:element name="IPN_LOAD_DATE" type="xs:string" />
																		<!--  Notice Publication -->
																		<xs:element name="IPN_PUBLICATION" type="xs:string" />
																		<xs:element name='IPN_TEXT' maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
	
	<!--  Notice Text line -->
        <xs:element name="IPT_LINE_NUMBER" type="xs:integer" />>

        <!--  Notice text -->
        <xs:element name="IPT_LINE" type="xs:integer" />>

    
  </xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name='NARRATIVES' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name='NARRATIVE' maxOccurs="unbounded">
																<xs:complexType>
																	<xs:sequence>
																		<!--  Narrative Load Date -->
																		<xs:element name="NAR_LOAD_DATE" type="xs:string" />
																		<xs:element name='NAR_TEXT' maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
	
	<!--  Notice Text line number -->
     <xs:element name="NAR_LINE_NUMBER" type="xs:integer" />>
         
    <!--  Notice Text -->
     <xs:element name="NAR_LINE" type="xs:string" />
     
    
    </xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<!--  No adverse message  -->
												<xs:element name='NO_ADVERSE' minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<!--  Notice Text -->
															<xs:element name="NO_ADVERSE_TEXT" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<!--  Summary counts  -->
												<xs:element name='SUMMARY'>
													<xs:complexType>
														<xs:sequence>
															<!--  Number of Previous Enquiries -->
															<xs:element name="INQUIRY_COUNT" type="xs:integer" />
															<!--  Number of defaults -->
															<xs:element name="DEFAULT_COUNT" type="xs:integer" />
															<!--  Number Of Public Notices -->
															<xs:element name="NOTICE_COUNT" type="xs:integer" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<!--  Disclaimer -->
									<xs:element name="DISCLAIMER" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="DEBTSTRM_DETAIL">
		<xs:sequence>
			<xs:element name='DEBTSTREAM_DETAILS' minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name='DEBTSTREAM_DETAIL' maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<!--  Debtstream Load date  -->
									<xs:element name="DTI_LOAD_DATE" type="xs:string" />
									<!--  Debtstream Creditor  -->
									<xs:element name="DTI_CREDITOR" type="xs:string" />
									<!--  Debtstream Claim Number  -->
									<xs:element name="DTI_CLAIM" type="xs:string" />
									<!--  Debtstream Original Value of Debt  -->
									<xs:element name="DTI_VALUE" type="xs:decimal" />
									<!--  Debtstream Balance  -->
									<xs:element name="DTI_BALANCE" type="xs:decimal" />
									<!--  Debtstream Status description  -->
									<xs:element name="DTI_STATUS" type="xs:string" />
									<!--  Debtstream Status Date  -->
									<xs:element name="STATUS_DATE" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="DEBTSTRM_MSG">
		<xs:sequence>
			<xs:element name='DEBTSTREAM_MSG' minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<!--  Debtstream Message Text  -->
						<xs:element name="DEBTSTREAM_MSG_TXT" type="xs:string" />
						<!-- Standard consumer enquiry report layout            -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
</xs:schema>
