Blue.Cosacs.Domain/Templates/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://schemas.bluebridgeltd.com/cosacs/services/2011/05/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="">

    <xs:element name="Services">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Namespace" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Service" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" use="required" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>